<section id="personal-info-section" data-aos="fade-down" data-aos-delay="200">
  <div class="container">
    <img class="profile-image" src="./assets/images/profile.png" />
    <div class="personal-info">
      <h1>¡Hola 👋, soy <span class="accent-color">Pedro Holguin!</span></h1>
      <h2>Programador Full Stack Semi-Senior</h2>
      <p>Lima, Perú</p>
      <p class="accent-color">⦾ Disponible para trabajar</p>
      <app-social-buttons />
      <app-actions-buttons />
    </div>
  </div>
</section>

<section id="about-me">
  <div class="container">
    <h2 class="section-title" data-aos="fade-right" data-aos-delay="200">
      Sobre mí
    </h2>
    <p data-aos="fade-up" data-aos-delay="400">
      Con más 3 años de experiencia, me destaco en el desarrollo de
      aplicaciones web en el que pongo en práctica tanto Frontend como Backend,
      en el cual me familizarizo con herramientas como Nodejs, Angular,
      Typescript y Python. Además de hacer uso de base de datos relacionales y
      no relacional. A la ves tengo conocimiento en uso de contenedores docker y
      despliegues en AWS.
    </p>
  </div>
</section>

<section id="projects">
  <div class="container">
    <h2 class="section-title" data-aos="fade-right" data-aos-delay="200">
      Proyectos & participaciones
    </h2>
    <div class="bento bento-hover" data-aos="flip-up" data-aos-delay="400">

    </div>

    <!-- <div class="project-details" data-aos="fade" data-aos-delay="400">

        <div class="project-pictures">
          @for (image of projects[selectedProject].images ;track $index) {
            <img class="project-picture" [src]="image">
          }
          <div class="project-info">
          <h3 class="accent-color">
            {{ projects[selectedProject].title }}
          </h3>
          <p>{{ projects[selectedProject].description }}</p>
          <div class="card-icons">
            @for (skill of projects[selectedProject].technologies; track $index) {
              <i [class]="skill"></i>
            }
          </div>
          <a class="button outline" [href]="projects[selectedProject].url" target="_blank">Ver más</a>
        </div>
        </div>
      </div> -->
    <div class="project-details" data-aos="fade" data-aos-delay="400">
      <div class="project-pictures">
        <ng-container *ngFor="let project of projects">
          <div class="project-item">
            <ng-container *ngFor="let image of project.images">
              <img
                class="project-picture "
                [src]="image"
                [alt]="project.title"
                (click)="openModal(project)"
              />
              <div class="project-info">
                <h3 class="accent-color">
                  {{ project.title }}
                </h3>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>


  </div>
  <!-- <button >Abrir Modal</button> -->

  <app-modal
    #modal
    title="Título del Modal"
    description="Descripción del modal"
    [project]="selectedProjects"
  >
    <div class="card-icons">
      @for (skill of projects[selectedProject].technologies; track $index) {
      <i [class]="skill"></i>
      }
    </div>
 <div class="repos">
      <button class="button outline">API</button>
    <button class="button outline">Frontend</button>
    </div>
  </app-modal>
</section>

<section id="technologies">
  <div class="container">
    <h2 class="section-title" data-aos="fade-right" data-aos-delay="200">
      Tecnologías
    </h2>
    <div class="technologies-badges" data-aos="fade" data-aos-delay="400">
      @for (skill of skills; track $index) {
      <button class="opacity">
        <i [class]="skill.icon"></i>
        {{ skill.name }}
      </button>
      }
    </div>
  </div>
</section>

<section id="experience">
  <div class="container">
    <h2 class="section-title" data-aos="fade-right" data-aos-delay="200">
      Experiencia
    </h2>
    <div
      class="info-card"
      [ngClass]="{ columns: experiencesLimit == experiences.length }"
      data-aos="flip-up"
      data-aos-delay="400"
    >
      @for (experience of experiences | slice: 0 : experiencesLimit; track
      $index) {
      <div class="card-info">
        <h3 class="card-title">{{ experience.title }}</h3>
        <div class="card-sub-title accent-color">
          {{ experience.company }} | {{ experience.date }}
        </div>
        <p class="card-text">{{ experience.detail }}</p>
        <div class="card-icons">
          @for (skill of experience.technologies; track $index) {
          <i [class]="skill"></i>
          }
        </div>
      </div>
      }
    </div>
    @if (experiencesLimit != experiences.length) {
    <div class="show-more" data-aos="fade" data-aos-delay="400">
      <button class="primary" (click)="experiencesLimit = experiences.length">
        Ver más
      </button>
    </div>
    }
  </div>
</section>

<section id="education">
  <div class="container">
    <h2 class="section-title" data-aos="fade-right" data-aos-delay="200">
      Formación
    </h2>
    <div class="timeline-container">
      <div class="timeline-item" date-is="2018" data-aos="fade" data-aos-delay="400">
        <h3>Ingeniería de Sistemas e Informática - 9no Ciclo - En curso</h3>
        <p class="accent-color">Universidad César Vallejo</p>
      </div>
      <div class="timeline-item" date-is="2018" data-aos="fade" data-aos-delay="400">
        <h3>Programación Básica JAVA POO</h3>
        <p class="accent-color">Universidad Nacional de Ingeniería</p>
      </div>

      <div class="timeline-item" date-is="2018" data-aos="fade" data-aos-delay="400">
        <h3>GIT+GitHub: Todo un sistema de control de versiones de cero</h3>
        <p class="accent-color">Udemy</p>
      </div>
      <div class="timeline-item" date-is="2021" data-aos="fade" data-aos-delay="400">
        <h3>Ruta de Desarrollo Web Nodejs</h3>
        <p class="accent-color">Platzi</p>
      </div>
      <div class="timeline-item" date-is="2022" data-aos="fade" data-aos-delay="400">
        <h3>NestJS + GraphQL</h3>
        <p class="accent-color">Udemy</p>
      </div>
      <div class="timeline-item" date-is="2023" data-aos="fade" data-aos-delay="400">
        <h3>WebScrapping with Python</h3>
        <p class="accent-color">Universidad César Vallejo</p>
      </div>
      <div class="timeline-item" date-is="2023" data-aos="fade" data-aos-delay="400">
        <h3>Flutter de Cero a Experto</h3>
        <p class="accent-color">Udemy</p>
      </div>
      <div class="timeline-item" date-is="2023" data-aos="fade" data-aos-delay="400">
        <h3>Docker: Guía práctica de uso para desarrolladores</h3>
        <p class="accent-color">Udemy </p>
      </div>
      <div class="timeline-item" date-is="2023" data-aos="fade" data-aos-delay="400">
        <h3>Angular de Cero Experto</h3>
        <p class="accent-color">Udemy</p>
      </div>

      <div class="timeline-item" date-is="2024" data-aos="fade" data-aos-delay="400">
        <h3>Nestjs Microservicios</h3>
        <p class="accent-color">Fernando Herrera 2024</p>
      </div>
    </div>
  </div>
</section>


<app-footer />
